.add-modal-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-name {
  margin-bottom: 20px;
}

.add-modal {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  padding-left: 40px;
  border: 1px solid black;
  overflow-y: scroll;
}

.category {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.category-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}

.category-input {
  width: 750px;
  height: 30px;
  border: 1px solid #8a8a8a;
  border-radius: 5px;
}

.textarea {
  height: 80px;
}

.input-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.price-unit {
  position: absolute;
  right: 40px;
  bottom: -6px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}

.modal-buttons {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.modal-button {
  width: 45px;
  height: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  border: 1px solid #8a8a8a;
  border-radius: 5px;
}

.add {
  left: 340px;
  background-color: #d3ffc3;
}

.cancel {
  left: 400px;
  background-color: white;
}
