.edit-page-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-name {
  margin-bottom: 20px;
}

.edit-page {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  padding-left: 40px;
  border: 1px solid black;
  overflow-y: scroll;
}

.edit-box-fixed {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 150px;
}

.edit-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.edit-box-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}

.edit-box-input {
  width: 750px;
  height: 30px;
  border: 1px solid #8a8a8a;
  border-radius: 5px;
}

.edit-box-input textarea {
  height: 80px;
}

.input-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.price-unit {
  position: absolute;
  right: 60px;
  bottom: -6px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}

.edit-buttons {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.edit-button {
  width: 45px;
  height: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  border: 1px solid #8a8a8a;
  border-radius: 5px;
}

.edit-button-add {
  width: 45px;
  height: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  border: 1px solid #8a8a8a;
  border-radius: 5px;
  left: 340px;
  background-color: #d3ffc3;
}

.edit-button-cancel {
  width: 45px;
  height: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  border: 1px solid #8a8a8a;
  border-radius: 5px;
  left: 400px;
  background-color: white;
}
